html {
  height: 100%;
}

* {
  margin: 0;
}
  
body {
  background: gray;
  height: 100%;
  display: flex;
  justify-content: center;
}

.scale {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
}

.line {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  background: rgb(80, 80, 80);
  border: 1px solid #bbb;
  margin: -1px 0 0 -1px;
  padding: 2px;
}

.selected {
  background: white;
}
